.site-header {
	background: $white;
	text-align: center;
}

.site-title {
	color: $gray;
}


.header-nav {

	ul {
		margin: 0;
		padding: 0;
	}

	a {
		color: $gray;
		text-decoration-line: none;

		&:before {
			font-family: FontAwesome;
			padding-right: 5px;
		}

		&.search:before {
			content: '\f002';
		}
	
		&.HMenu:before {
			content: '\f107';
		}
	}

}

