
/* Paleta de colores */
$red: rgba(255, 0, 6, 1);
$gray: rgba(150, 150, 150, 1);
$black: rgba(35, 31, 32, 1);
$orange: rgba(244, 170, 9, 1);
$blue: rgba(31, 35, 47, 1);
$blue_deep: rgba(27, 30, 39, 1);
$white: rgba(255, 255, 255, 1);

/*Fonts*/
$serif: 'Playfair Display', serif;
$Open-sans: 'Open Sans';

$default-border-radius: 20px;

$small: 480px;
$medium: 640px;
$large: 960px;

